@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: var(--base-font);
    font-size: var(--bas-size);
    font-weight: var(--base-weight);
    color: var(--base-text-color);
}

.wrapper {
    margin: 0 auto;
    max-width: 1470px;
    padding: 0 15px;
    display: grid;
    grid-template-rows: 72px 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "h h"
        "m c"
    ;
}

.header {
    background: var(--header-bcg);
    grid-area: h;
}

.menu-bar {
    background: var(--menu-bar-bcg);
    grid-area: m;
}

.content {
    grid-area: c;

    &__search {
        padding: 12px 0px 12px 24px;
        color: rgba(0, 0, 0, 0.5);
        max-width: 350px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        margin-left: 36px;

        input {
            padding-left: 16px;
            border: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.25px;
            outline: none;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 28px;
        line-height: 38px;
        color: rgba(0, 0, 0, 0.9);
    }

    &__create-button {
        background: var(--create-button-bcg);
        border-radius: 5px;
        padding-top: 11px;
        padding-bottom: 11px;
        height: 40px;
        border: none;
        font-family: var(--base-font);
        font-weight: 500;
        font-size: var(--bas-size);
        line-height: 18px;
        color: #FFFFFF;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding-left: 12px;
        padding-right: 20px;

    }

    &__head {
        padding: 21px 24px 16px 32px;


        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 38px;

        }
    }

    &__brands {
        padding-left: 66px;
        padding-right: 72px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__brand {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F9F9F9;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 12px 20px 12px 24px;

        &-information {
            display: flex;
            align-items: center;
            width: 350px;
        }

        &-avatar {
            margin-right: 20px;

            img {
                width: 100%;
                height: auto;
            }
        }

        &-name {
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: rgba(0, 0, 0, 0.9);
        }

        &-status {
            background: rgba(0, 0, 0, 0.06);
            border-radius: 6px;
            color: rgba(0, 0, 0, 0.5);
            padding: 4px 8px;
            height: 27px;

            &.published {
                background: rgba(54, 181, 82, 0.1);
                color: #349A4A;
            }
        }
    }

    &__checkbox {
        position: relative;
        margin-right: 40px;

        label {
            background-color: #fff;
            border: 2px solid rgba(0, 0, 0, 0.5);
            border-radius: 6px;
            cursor: pointer;
            height: 20px;
            left: 0;
            position: absolute;
            top: 0;
            width: 20px;

            &:after {
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                content: "";
                height: 6px;
                left: 3px;
                opacity: 0;
                position: absolute;
                top: 4px;
                transform: rotate(-45deg);
                width: 12px;
            }
        }

        input[type="checkbox"] {
            visibility: hidden;
        }

        input[type="checkbox"]:checked+label {
            background-color: #000;
            border-color: #000;
        }

        input[type="checkbox"]:checked+label:after {
            opacity: 1;
        }
    }

    &__options {
        &.active {
            display: block;
        }

        display: none;
        position: absolute;
        z-index:99;
        right: 12px;
        top: 66px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 192px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        background: #FFF;

        &-btn {
            width: 100%;
            display: flex;
            align-items: center;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 16px;
            transition: all 0.3s ease-in-out;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.25px;

            &:hover {
                background: rgba(0, 0, 0, 0.04);
            }

            img {
                margin-right: 8px;
            }
        }
    }

    &__delete-btn {
        color: #CF5334;
    }

    &__options-button {
        border: none;
        background: inherit;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        transition: all 0.3s ease-in-out;
    }

    &__options-button.active {
        background: rgba(0, 0, 0, 0.04);
    }

    &__pagination {
        padding: 14px 72px 11px 66px;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.5);

        &-show {
            margin-right: 234px;

            span {
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.25px;
                color: rgba(0, 0, 0, 0.9);
            }
        }

        &-list {
            display: flex;
            justify-self: center;
            width: 210px;
        }

        &-item {
            a {
                padding: 4px 10px;

            }

            a.active {
                background: rgba(0, 0, 0, 0.04);
                border-radius: 4px;
            }
        }
    }
}